<div class="flex flex-col w-full min-h-screen bg-grey">
    <app-header [section]="section" />
    <div class="grid grid-cols-8 mt-9 mb-4 items-center overflow-auto">
        <p class="col-span-4 ml-4">{{ session.name }}</p>
        <div class="flex items-center justify-center col-span-2 h-10">
            <input
                class="w-full h-full rounded-lg border border-zinc-600 border-opacity-80 pl-5"
                type="text"
                [(ngModel)]="studentNameSearch"
                (ngModelChange)="searchStudent()"
                placeholder="Trouver un élève" />
        </div>
        <button
            class="flex items-center justify-center col-span-2 w-4/5 h-full bg-blueButton rounded-xl text-white ml-6"
            (click)="gotoNoteEdit()">
            Modifier les notes d'un élève
        </button>
    </div>
    <div class="flex flex-col mt-5 m-3">
        <div class="flex flex-row justify-center items-center bg-bgHeaderTable border border-borderTable rounded-t-lg">
            <p class="flex w-full py-2 mx-3 border-r border-borderTable">Élève</p>
            <p class="flex w-full py-2">Notes</p>
        </div>
        <div
            *ngFor="let studentGrade of filteredStudentGrades"
            class="flex flex-row justify-center bg-bgTable border-x border-b border-borderTable">
            <p class="flex w-full py-2 mx-3 border-r border-borderTable">{{ studentGrade.name }}</p>
            <p class="flex w-full py-2">{{ studentGrade.grade }}</p>
        </div>
    </div>

    <div class="fixed bottom-0 right-0 mb-4 mr-4">
        <button (click)="return()" class="w-fit bg-blue-700 hover:bg-blue-800 rounded-lg text-white">
            <p class="cursor-pointer text-base my-3 mx-1 leading-3 text-white font-inter">Retour</p>
        </button>
    </div>
</div>
