<div class="flex flex-col w-full min-h-screen bg-grey">
    <app-header [section]="section"></app-header>
    <div class="ml-8 my-3 h-full">
        <p>Ajouter un encadrant</p>
        <form
            [formGroup]="addTeacherForm"
            (ngSubmit)="onSubmit($event.submitter.id)"
            class="flex flex-col justify-center my-3 mr-3 h-full border border-borderTable rounded-lg bg-bgCreateSession">
            <div class="flex flex-row justify-center mt-5 mx-3">
                <p class="flex bg-white rounded py-2 pl-6 border-r border-borderTable w-1/4 rounded-l-lg">
                    Nom de l'encadrant
                </p>
                <select id="teacher" class="flex w-3/4 rounded-r-lg" formControlName="teacher" required>
                    <option *ngFor="let n of usersList" [ngValue]="n">
                        {{ n.name + " " + n.surname }}
                    </option>
                </select>
            </div>
            <div
                *ngIf="addTeacherForm.controls['teacher'].errors?.['required']"
                class="flex mt-3 mx-3 pl-6 text-red-500 text-sm">
                Le nom est obligatoire.
            </div>

            <!-- <div class="flex flex-row justify-center mt-3 mx-3">
                <label for="TP" class="flex bg-white rounded py-2 pl-6 border-r border-borderTable w-1/4 rounded-l-lg"
                    >TP accessibles</label
                >
                <select id="TP" class="flex w-3/4 rounded-r-lg" formControlName="TP" required>
                    <option value="">Choisissez les TPs que l'encadrant peut accéder</option>
                    <option *ngFor="let tp of tps" value="{{ tp.name }}">{{ tp.name }}</option>
                </select>
            </div> -->

            <div class="flex flex-col mt-3 mx-3">
                <label for="TP" class="flex bg-white py-2 pl-6 border-r border-borderTable w-1/4 rounded-lg"
                    >TP accessibles : </label
                >
                <div class="grid grid-cols-2 sm:grid-cols-3 md:grid-cols-4 lg:grid-cols-6 xl:grid-cols-8 mt-3">
                    <div
                        formArrayName="TPs"
                        *ngFor="let tpFormControl of tpsFormArray.controls; let index = index"
                        class="bg-white border rounded-lg mr-1 mb-1">
                        <ng-container [formGroup]="toFormGroup(tpFormControl)">
                            <label class="flex items-center justify-center w-1/2 mx-5 mr-10 py-1.5">
                                <input type="checkbox" id="TP" formControlName="accessable" class="w-1/2 mx-5" />
                                {{ tps[index].name }}
                            </label>
                        </ng-container>
                    </div>
                </div>
            </div>

            <div
                *ngIf="addTeacherForm.controls['TPs'].errors?.['required']"
                class="flex mt-3 mx-3 pl-6 text-red-500 text-sm">
                Veuillez choir un TP.
            </div>
            <div class="flex flex-row">
                <button
                    id="cancel"
                    class="flex justify-center items-center w-fit bg-redButton rounded-lg py-2 ml-3 mr-3 my-3">
                    <p class="flex text-white mx-3">Annuler</p>
                </button>
                <button
                    id="save"
                    type="submit"
                    [disabled]="!addTeacherForm.valid"
                    class="flex justify-center items-center w-fit bg-blueButton disabled:bg-blue-400 hover:bg-blue-800 rounded-lg py-2 ml-auto mr-3 my-3">
                    <p class="flex text-white mx-3">Ajouter l'encadrant</p>
                </button>
            </div>
        </form>
    </div>
</div>
