<div class="flex flex-col w-full min-h-screen bg-grey">
    <app-header [section]="section"></app-header>
    <div class="ml-8 my-3 h-full">
        <p> Ajouter un encadrant</p>
        <form
            [formGroup]="addTeacherForm"
            (ngSubmit)="onSubmit($event.submitter.id)"
            class="flex flex-col justify-center my-3 mr-3 h-full border border-borderTable rounded-lg bg-bgCreateSession">
            <div class="flex flex-row justify-center mt-5 mx-3">
                <label for="encadrant" class="flex bg-white rounded py-2 pl-6 border-r border-borderTable w-1/4 rounded-l-lg">Nom de l'encadrant</label>
                <input type="text" id="encadrant" list="users" class="flex w-3/4 rounded-r-lg" 
                formControlName="name" 
                required>
                    <datalist id="users">
                        <option *ngFor = "let n of usersList" >{{n.firstname+" "+n.lastname}}</option>
                    </datalist>
            </div>
            <div
                *ngIf="addTeacherForm.controls['name'].errors?.['required']"
                class="flex mt-3 mx-3 pl-6 text-red-500 text-sm">
                Le nom est obligatoire.
            </div>
            <div class="flex flex-row justify-center mt-3 mx-3">
                <label class="flex bg-white rounded py-2 pl-6 border-r border-borderTable w-1/4 rounded-l-lg">TP accessibles</label>
                <select class="flex w-3/4 rounded-r-lg" 
                formControlName="TP" required>
                    <option value="">Choisissez les TPs que l'encadrant peut accéder</option>
                    <option *ngFor = "let tp of tps" value={{tp.name}}>{{tp.name}}</option>
                </select>
            </div>
            <div
                *ngIf="addTeacherForm.controls['TP'].errors?.['required']"
                class="flex mt-3 mx-3 pl-6 text-red-500 text-sm">
                Veuillez choir un TP.
            </div>
            <div class="flex flex-row">
                <button id="cancel" class="flex justify-center items-center w-fit bg-redButton rounded-lg py-2 ml-3 mr-3 my-3">
                    <p class="flex text-white mx-3">Annuler</p>
                </button>
                <button id="save" 
                type="submit"
                [disabled]="!addTeacherForm.valid"
                class="flex justify-center items-center w-fit bg-blueButton disabled:bg-blue-400 hover:bg-blue-800 rounded-lg py-2 ml-auto mr-3 my-3">
                    <p class="flex text-white mx-3">Ajouter l'encadrant</p>
                </button>
            </div>
        </form>
    </div>
    
</div>
