<div class="flex flex-col w-full min-h-screen bg-grey">
    <app-header [section]="section"></app-header>
    
    <div class="flex flex-col mt-5 m-3">
        <div class="flex flex-row">
            <p> Liste des Encadrants</p>
            <button class="w-fit ml-auto mt-auto mb-3 justify-center bg-blueButton rounded-lg text-white">
                    <p class="cursor-pointer text-base my-3 mx-3 leading-3 text-white font-inter">
                        Ajouter un encadrant
                    </p>
            </button>
        </div>
        
        <div class="grid grid-cols-2">
            <p class="flex w-full py-2 bg-bgHeaderTable border border-borderTable rounded-tl-lg">Encadrants</p>
            <p class="flex w-full py-2 bg-bgHeaderTable border border-borderTable rounded-tr-lg">Actions</p>
        </div>
            
        
        <!-- <div *ngFor = "let note of notes_stu" class="flex flex-row justify-center bg-bgTable border-x border-b border-borderTable" >
            <p class="flex w-full py-2 mx-3 border-r border-borderTable">{{note.name}}</p>
            <p class="flex w-full py-2 mr-3 border-r border-borderTable">{{note.note}}</p>
            <p class="flex w-full py-2 mr-3 border-r border-borderTable">{{note.moyenne}}</p>
            <p class="flex w-full py-2 ">{{note.coefficient}}</p>
        </div> -->
    </div>
</div>
