<main class="w-full h-full justify-start items-start" *ngIf="!loading">
    <div
        class="flex flex-row h-fit overflow-visible"
        *ngIf="
            ['/login', '/register'].indexOf(location.pathname) === -1 && router.url.split('/')[1] !== 'tp';
            else elseBlock
        ">
        <div class="w-1/5 min-h-full">
            <app-side-bar></app-side-bar>
        </div>
        <div class="w-4/5">
            <router-outlet></router-outlet>
        </div>
    </div>
    <ng-template class="w-full" #elseBlock>
        <router-outlet></router-outlet>
    </ng-template>
</main>
