<main class="w-full h-full justify-start items-start" *ngIf="!loading">
    <div class="flex flex-row" *ngIf="['/login', '/register'].indexOf(location.pathname) === -1">
        <div class="w-1/5">
            <app-side-bar></app-side-bar>
        </div>
        <div class="w-4/5">
            <router-outlet></router-outlet>
        </div>
    </div>
    <div class="w-full" *ngIf="['/login', '/register'].indexOf(location.pathname) !== -1">
        <router-outlet></router-outlet>
    </div>
</main>
