<div class="flex flex-col w-full min-h-screen bg-grey">
    <app-header [section]="section"/>
    <div class="flex flex-col mt-5 m-3">
        <div class="flex flex-row justify-center items-center bg-bgHeaderTable border border-borderTable rounded-t-lg" >
            <p class="flex w-full py-2 mx-3 border-r border-borderTable">Student</p>
            <p class="flex w-full py-2 ">Notes</p>
        </div>
        <div *ngFor = "let list_notes of lists_notes" class="flex flex-row justify-center bg-bgTable border-x border-b border-borderTable" >
            <p class="flex w-full py-2 mx-3 border-r border-borderTable">{{list_notes.name}}</p>
            <p class="flex w-full py-2 ">{{ list_notes.notes }}</p>
        </div>
    </div>
</div>


