<div class="flex flex-col w-full min-h-screen bg-grey">
    <app-header [section]="section"></app-header>
    <div class="ml-8 my-3 h-full">
        <p>Modifier les accès d'un encadrant</p>
        <form
            [formGroup]="modifyAccessForm"
            (ngSubmit)="onSubmit($event.submitter.id)"
            class="flex flex-col justify-center my-3 mr-3 h-full border border-borderTable rounded-lg bg-bgCreateSession">
            <div class="flex flex-row justify-center mt-5 mx-3">
                <p class="flex bg-white rounded py-2 pl-6 border-r border-borderTable w-1/4 rounded-l-lg">
                    Nom de l'encadrant
                </p>
                <select id="teacher" class="flex w-3/4 rounded-r-lg" formControlName="teacher" required>
                    <option *ngFor="let n of teachersList">
                        {{ n.name + " " + n.surname }}
                    </option>
                </select>
            </div>
            <div
                *ngIf="modifyAccessForm.controls['teacher'].errors?.['required']"
                class="flex mt-3 mx-3 pl-6 text-red-500 text-sm">
                Le nom est obligatoire.
            </div>


            <div class="flex flex-col mt-3 mx-3">
                <label for="TP" class="flex bg-white rounded py-2 pl-6 border-r border-borderTable w-1/4 rounded-l-lg"
                    >TP accessibles</label
                >
                <div class="grid grid-cols-2 sm:grid-cols-3 md:grid-cols-4 lg:grid-cols-6 xl:grid-cols-8 mt-3">
                    <div 
                        formArrayName="TPs"
                        *ngFor="let tpFormControl of tpsFormArray.controls; let index = index"
                        class="flex items-center justify-center bg-white border rounded-lg mr-1"
                        >
                        <ng-container [formGroup]="toFormGroup(tpFormControl)">
                            <input type="checkbox" id="TP" formControlName="accessable" class="w-1/2 mx-5" />
                            <label class="mr-10">{{ tps[index].name }}</label>
                        </ng-container>
                    </div>
                </div>
            </div>
            <div
                *ngIf="modifyAccessForm.controls['TPs'].errors?.['required']"
                class="flex mt-3 mx-3 pl-6 text-red-500 text-sm">
                Veuillez choisir un TP.
            </div>

            <div class="flex flex-row">
                <button
                    id="cancel"
                    class="flex justify-center items-center w-fit bg-redButton hover:bg-red-700 rounded-lg py-2 ml-3 mr-3 my-3">
                    <p class="flex text-white mx-3">Annuler</p>
                </button>
                <button
                    id="save"
                    type="submit"
                    [disabled]="!modifyAccessForm.valid"
                    class="flex justify-center items-center w-fit bg-blueButton disabled:bg-blue-400 hover:bg-blue-700 rounded-lg py-2 ml-auto mr-3 my-3">
                    <p class="flex text-white mx-3">Enregistrer les modifications</p>
                </button>
            </div>
        </form>
    </div>
</div>
